
.temHeader {
  grid-area: temHeader;
}
.temHeader .temHeaderitem{
  width: 100%;
  height: 100%;
}
.temmainbody {
  grid-area: temmainbody;
}
.temtopnav{
  grid-area: temtopnav;
  display: none;
}
.temtopnav .temtopitem{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.temleftnav {
  grid-area: temleftnav;
  display: block;
  position: fixed;
}
.temleftnav .temleftitem{
  background-color: #fff;
  margin-top: 20px;
  width: 180px;
}
.temleftnav .temleftitem:first-child{
  margin-top: 0;
}
.temcontainbody {
  grid-area: temcontainbody;
}
.temcontainbody .temcontainitem{
  width: 100%;
  background-color: #fff;
}

.temrightbox {
  grid-area: temrightbox;
}
.temrightbox .temrightitem{
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
}
.temrightbox .temrightitem:first-child{
  margin-top: 0;
}
.temrightbox .temrightitem:nth-child(2){
  position: sticky;
  top: 100px;
}

  

.temtotal {
  display: grid;
  grid-template-areas:
      "temHeader temHeader temHeader"
      ". . ."
      ". temmainbody .";
  grid-template-columns: 1fr minmax(1000px,1200px) 1fr;
  grid-template-rows: 80px 20px 1fr;
  height: 100vh;
}

.temmainbody{
  display: grid;
  grid-template-areas: "temleftnav temcontainbody temrightbox";
  grid-template-columns: 180px 1fr 260px;
  grid-template-rows: 1fr;
  row-gap: 20px;
  column-gap: 20px;
  height: 100%;
}



@media screen and (max-width: 1200px){
  .temtopnav{
    display: block;
  }
  .temleftnav{
    display: none;
  }
  .temtotal{
    grid-template-areas:
    "temHeader temHeader temHeader temHeader temHeader"
    "temmainbody temmainbody temmainbody temmainbody temmainbody";
    grid-template-columns: 1fr 180px minmax(0, 760px) 1fr 1fr;
    grid-template-rows: 80px 1fr;
    height: 100vh;
  }
  .temmainbody{
    grid-template-areas: 
    "temtopnav temtopnav temtopnav temtopnav"
    ". temcontainbody temrightbox .";
    grid-template-columns: 1fr minmax(0, 760px) 260px 1fr;
    grid-template-rows: 40px 1fr;
    row-gap: 20px;
    height: 100%;
  }
}

@media screen and (max-width: 1000px){
  .temrightbox{
    display: none;
  }
  .temtotal{
    grid-template-areas:
    "temHeader temHeader temHeader temHeader"
    "temmainbody temmainbody temmainbody temmainbody";
    grid-template-columns: 1fr 180px minmax(0, 760px) 1fr;
    grid-template-rows: 80px 1fr;
    column-gap: 20px;
    height: 100vh;
  }
  .temmainbody{
    grid-template-areas: 
    "temtopnav temtopnav temtopnav"
    ". temcontainbody .";
    grid-template-columns: 1fr minmax(0, 960px) 1fr;
    grid-template-rows: 40px 1fr;
    row-gap: 20px;
    column-gap:20px;
    height: 100%;
  }
  
}
@media  screen and (max-width: 760px){ 
  .temtotal{
    grid-template-rows: 60px 1fr;
  }


  
}






